@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a {
  color: black !important;
  text-decoration: none !important;
}

.brand-logo,h2 {
  font-family: 'Grand Hotel', cursive;
}

h4.card-header {
  font-family: 'Grand Hotel', cursive;
}

.login-card {
  margin-top: 30px;
}

.login-card.no-account a {
  color: #039be5 !important;
}

.auth-card {
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  max-width: 400px;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #64b5f6 !important;
  box-shadow: 0 1px 0 0 #64b5f6 !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #64b5f6 !important;
  box-shadow: 0 1px 0 0 #64b5f6 !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 20%;
}

.home-card {
  max-width: 50%;
  height: max-content;
  margin: 26px auto;
}

.home-card > h5 {
  padding: 7px;
}

.material-icons:hover {
  cursor: pointer;
}

.collection-item {
  width: 100%;
  text-align: left;
}

/* .modal {
  height: max-content !important;
  min-height: 20% !important;
  max-height: 30% !important;
  max-width: 40% !important;
} */


.open-profile-name {
  cursor: pointer;
}

.btn {
  color: white !important;
}

.btn.custom-btn{
  max-width: max-content !important;
  margin: 0 auto !important;
  padding: 0 16px !important;
}

.btn.custom-size-sm {
  width: 100px !important;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
}

.file-field .btn, .file-field .btn-large, .file-field .btn-small {
  float: none !important;
}

.input-field {
  position: relative;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.home-card-header {
  margin: 10px 20px !important;
}

.tac {
  text-align: center !important;
}

.m-t {
  margin-top: 10px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.transformY-30 {
  transform: translateY(30%);
}

.m-0-auto {
  margin: 0 auto !important;
}

nav .brand-logo {
  margin-left: 10px;
}

.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-content {
  width: 100% !important;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.collection-item.requests {
  display: flex !important;
}

.btn-clr-black {
  color: black !important;
}

/* .modal .modal-header {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%; } */

div.loader {
  font-size: 100px;
}  

.center.newLoader{
  left: 50% !important;
}
.loaderContainer{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(85, 85, 85, 0.5);
  z-index: 10000;
  display: none;
}
.circleLoader {
  position: relative;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  margin: 10px auto;
  font-size: 14px;
  color: #ffffff;
}
.circleLoader::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #1877f2;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  body {
    font-size: 11px !important;
  }
  .profile-picture {
    width: 80px !important;
    height: 80px !important;
    padding: 10px;
  }

  /* .modal {
    min-height: 20% !important;
    max-height: 30% !important;
    max-width: 90% !important;
  } */

  .nav-search-icon {
    padding: 0px 25px !important;
  }

  .nav-logout-btn {
    margin: 0px 26px !important;
  }

  .nav-messenger-icon {
    padding: 0px 25px !important;
  }

  .mlr {
    margin: 0px 5px !important;
  }

  .collection .collection-item {
    padding: 10px 10px;
  }

  .popup-image {
    margin-right: 10px !important;
  }

  .btn.custom-btn{
    font-size: 10px !important;
  }

  .tab-content {
    top: 15% !important;
  }

  .page-width-mobile {
    max-width: 85% !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  body {
    font-size: 11px !important;
  }
  .profile-picture {
    width: 80px !important;
    height: 80px !important;
    padding: 10px;
  }
  /* .modal {
    min-height: 20% !important;
    max-height: 30% !important;
    max-width: 90% !important;
  } */
  .nav-search-icon {
    padding: 0px 25px !important;
  }
  .nav-logout-btn {
    margin: 0px 26px !important;
  }

  .mlr {
    margin: 0px 5px !important;
  }
  .collection .collection-item {
    padding: 10px 10px;
  }
  .popup-image {
    margin-right: 10px !important;
  }

  .btn.custom-btn{
    font-size: 10px !important;
  }

  .tab-content {
    top: 15% !important;
  }

  .page-width-mobile {
    max-width: 85% !important;
  }
}


/* New pop ups */
.modal{
  background-color: transparent !important;
  max-height: max-content !important;
}

.modal .modal-content {
  padding: 0px !important;
}

.center.newLoader{
  left: 50% !important;
}
.errorMsg, .sucessMsg{
display: block !important;
background-color: #ffffff !important;
border-bottom: 0px !important;
padding: 0px !important;
}
.errorMsg .close, .sucessMsg .close{
  position: absolute;
  top: 5px;
  right: 10px;
}
.errorMsg .modal-title, .sucessMsg .modal-title{
  margin-top: 40px;
}
.errorMsg .fa-triangle-exclamation{
color: red;
font-size: 32px;
margin-bottom: 10px;
}

.sucessMsg .fa-circle-check{
color: green;
font-size: 38px;
margin-bottom: 10px;
}
.errorMsg .fa-question-circle{
color: #3c8dbc;
font-size: 60px;
margin-bottom: 20px;
transform: none;
}
.errorMsg .fa-info-circle{
color: #3c8dbc;
font-size: 60px;
margin-bottom: 20px;
transform: none;
}
.errorMsg h5, .sucessMsg h5{
  font-weight: bold;
  color: #000000;
  font-size: 16px !important;
}
.errorModalFooter .btn, .sucessModalFooter .btn{
  width: 100%;
  border-radius: 0px !important;
  background-color: #f4f4f4 !important;
  color: #000000 !important;
  border-color: #f4f4f4 !important;
  padding: 8px 12px !important;
}

.unsavedChangesModal{
justify-content: center;
}
/* .unsavedChangesModal .btn-primary{
  background-color: red !important;
  border-color: red !important;
} */
.unsavedChangesModal .btn-secondary{
  background-color: #f4f4f4 !important;
  border-color: #dbd7d7;
}


.card {
  border-width: 1px;
}

.main-card {
  box-shadow: 0 0 0 0 transparent !important;

}

.app-inner-layout__sidebar {
  border-left: 0 !important;
}

li.style-none {
  list-style: none !important;
  margin-top: 10px !important;
}

.gallery-pictures {
  min-width: 80%;
  max-width: 80%;
  min-height: 80%;
  max-height: 80%;
}

.profile-summary p {
  cursor: pointer;
}