.conversation {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.conversation:hover {
    background-color: rgb(233, 233, 233);
}

.conversationImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.conversationName {
    font-weight: 500;
}