.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop {
    display: flex;
}

.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    max-width: 300px;
    color: white;
}

.messageBottom {
    font-size: 11px;
    margin-top: 10px;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(236, 236, 236);
    color: black;
}